@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
}

.center{
  font-family: DotGothic16;
  font-style:normal;
  font-weight: 300;
}

/* div {
  border: 1px solid black;
} */
